.login__bg {
  background-image: url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow-x: hidden; */
}

.login {
  background: RGB(33, 37, 41);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
  color: white;

  width: 100%;
}

.btn-login {
  background: #01b041;
}
