.member-status-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.member-status {
  margin-bottom: 0;
  position: relative;
}

.sidebar-online-status {
  color: green;
}

.sidebar-offline-status {
  color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 12px;
}

.rooms:hover {
  background: #1cdb24;
  transform: scale(1.02);
  border-radius: 0.5rem;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.member {
  border-radius: 0.5rem;
  cursor: 'pointer';
}

.member:hover {
  border-radius: 0.5rem;
  cursor: 'pointer';
  display: 'flex';
  justify-content: 'space-between';
}

/* hover:shadow-xl active:scale-90 transition duration-150 ease-out */
